body {
  background: radial-gradient(
    circle at 97.28%,
    #000000 20%,
    #1d091d 35%,
    #3a113a 50%,
    #571a56 90%
  );
  color: #dcf7f3;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 85px;
}

div {
  background: #494e5b;
  border-radius: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

h4 {
  text-align: center;
  margin: 50px;
  font-size: 25px;
}

body,
input {
  text-align: center;
  font-size: 23px;
}

button {
  margin-top: 20px;
  font-size: 18px;
}